@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            }
            @if (TempData["error"] != null)
            {
                <p class="alert alert-danger" id="errorMessage">@TempData["error"]</p>
            }
        </div>
    </div>
    <div class="row">
        <form method="post" action="Incident/InsertIncidentReport">
            <input type="hidden" name="Rec_Id" id="Rec_Id" />
            <div class="col-md-3">
                <div class="form-group">
                    <label>Date</label>
                    <input type="date" name="OTC_Date" id="OTC_Date" value="@ViewBag.Date" class="form-control" required />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Company</label>
                    <select class="form-control" name="Company" id="Company" required>
                        <option value="">Company</option>
                        <option value="SIS">SIS</option>
                        <option value="SISCO">SISCO</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Region</label>
                    <select class="form-control" name="Region" id="ddlRegion" required>
                        <option value="">Select Region</option>
                        @foreach (var item1 in ViewBag.RegionDelts)
                        {
                            <option value="@item1.Region">@item1.Region</option>
                        }
                    </select>



                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Branch</label>
                    <select class="form-control" name="BranchId" id="ddlBranchId" required>
                    </select>
                    <input type="text" name="Branch" id="txtBranchname" style="display:none" class="form-control"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Route No</label>
                    <select class="form-control" name="RoutNo" id="ddlRouteId" required>
                    </select>
                    <input type="text" name="Branch" id="txtRouteName" style="display:none" class="form-control"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Key Name</label>
                    <input type="text" class="form-control" name="KeyName" id="KeyName" required />
                </div>
            </div>



            <div class="col-md-3">
                <div class="form-group">
                    <label>Touch Key</label>
                    <input type="text" class="form-control" name="TouchKey" id="TouchKey" required />

                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Key Type</label>
                    <select class="form-control" name="KeyType" id="KeyType" required>
                        <option value="">Select Key Type</option>
                        <option value="Red">Red</option>
                        <option value="Black">Black</option>
                    </select>

                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>ATM ID</label>
                    <input type="text" class="form-control" name="ATM_ID" id="ATM_ID" required />

                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Purpose</label>
                    <select class="form-control" name="Purpose" id="Purpose" required>
                        <option value="">Select Purpose</option>
                        <option value="Date and Time">Date and Time</option>
                        <option value="Black Key faulty">Black Key faulty</option>
                        <option value="Activation">Activation</option>
                        <option value="Deactivation">Deactivation</option>
                        <option value="Replacement">Replacement</option>
                        <option value="Lost Ke">Lost Key</option>
                        <option value="Key Damag">Key Damage</option>
                        <option value="New Route">New Route</option>
                    </select>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Key Corrupt/Calender fail Date</label>
                    <input type="date" name="KeyCorrupt" class="form-control" id="KeyCorrupt" required />

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Configure Date</label>
                    <input type="date" name="ConfigureDate" class="form-control" id="ConfigureDate" required />

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Send date 1st</label>
                    <input type="date" name="SendDateIst" class="form-control" id="SendDateIst" required />

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Send Date 2nd</label>
                    <input type="date" name="SendDateIInd" class="form-control" id="SendDateIInd" />

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Resolution Date</label>
                    <input type="date" name="ResolutionDate" class="form-control" id="ResolutionDate"  />

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Battery Status</label>
                    <select class="form-control" name="BatteryStatus" id="BatteryStatus" required>
                        <option value="">SELECT</option>
                        <option value="Yes">YES</option>
                        <option value="No">NO</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" name="Status" id="Status" required>
                        <option value="">SELECT</option>
                        <option value="Working">WORKING</option>
                        <option value="Not working">NOT WORKING</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Remarks</label>
                    <input type="text" class="form-control" name="Remarks" id="Remarks"  />
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </form>

    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="table_id"  class="table table-striped table-bordered display">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Company</th>
                        <th>Region</th>
                        <th>Branch</th>
                        <th>Route No</th>
                        <th>Key Name</th>
                        <th>Touch Key</th>
                        <th>Key Type</th>
                        <th>ATM ID</th>
                        <th>Purpose</th>
                        <th>Key Corrupt/Calender fail Date</th>
                        <th>Configure Date</th>
                        <th>Send date 1st</th>
                        <th>Send Date 2nd</th>
                        <th>Resolution Date</th>
                        <th>Battery Status</th>
                        <th>Status</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item1 in ViewBag.incDetais)
                    {
                    <tr>
                        <td>@if(item1.Status == "Not working") { <i class="fa fa-user-edit getDetails" data-id="@item1.Rec_Id" style="cursor:pointer"></i>} else { <i class="fa fa-lock lockdetails" style="cursor:not-allowed"></i>} </td>
                        <td>@item1.Company</td>
                        <td>@item1.Region</td>
                        <td>@item1.Branch</td>
                        <td>@item1.RoutNo</td>
                        <td>@item1.KeyName</td>
                        <td>@item1.TouchKey</td>
                        <td>@item1.KeyType</td>
                        <td>@item1.ATM_ID</td>
                        <td>@item1.Purpose</td>
                        <td>@item1.KeyCorrupt</td>
                        <td>@item1.ConfigureDate</td>
                        <td>@item1.SendDateIst</td>
                        <td>@item1.SendDateIInd</td>
                        <td>@item1.ResolutionDate</td>
                        <td>@item1.BatteryStatus</td>
                        <td>@item1.Status</td>
                        <td>@item1.Remarks</td>

                    </tr>
                    }
                    </tbody>
            </table>
        </div>
    </div>
    <script>
        $("#ddlRegion").change(function () {
            $.ajax({
                url: '@Url.Action("BranchDetails")',
                data: {
                    Region: $("#ddlRegion").val()
                },
                dataType: "json",
                type: "POST",
                success: function (res) {
                    console.log(res);
                    $("#ddlBranchId").empty();
                    $("#ddlBranchId").append('<option value="">Select Branch</option>');
                    $.each(res, function (i) {
                        $("#ddlBranchId").append('<option value="' + res[i].Branch_Id + '">' + res[i].Branch+'</option>')
                    });
                }
            })
        })

        $("#ddlBranchId").change(function () {
            var branch = $("#ddlBranchId option:selected").text();
            $("#txtBranchname").val(branch);
            //var BranchId = $("#ddlBranchId").val();
            //alert(BranchId);
            $.ajax({
                url: '@Url.Action("RouteDetails")',
                data: {
                    BranchId: $("#ddlBranchId").val()
                },
                dataType: "json",
                type: "POST",
                success: function (res) {
                    console.log(res);
                    $("#ddlRouteId").empty();

                    $.each(res, function (i) {
                        $("#ddlRouteId").append('<option value="' + res[i].Route_No + '">' + res[i].Route_Name+'</option>')
                    });
                }
            })
        })
    </script>
    <script>
        function getDate() {
            var today = new Date();

            document.getElementById("OTC_Date").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);


        }
    </script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.getDetails').click(function () {
                var Rec_Id = $(this).data('id');
                
                $.ajax({
                url: '@Url.Action("incidentByRec_Id")',
                data: {
                    Rec_Id: Rec_Id
                },
                dataType: "json",
                type: "POST",
                    success: function (res) {
                        $("#OTC_Date").prop('disabled', true);
                        $("#Company").prop('disabled', true);
                        $("#ddlRegion").prop('disabled', true);
                        $("#ddlRouteId").prop('disabled', true);
                        $("#KeyName").prop('disabled', true);
                        $("#TouchKey").prop('disabled', true);
                        $("#KeyType").prop('disabled', true);
                        $("#ATM_ID").prop('disabled', true);
                        $("#Purpose").prop('disabled', true);
                        $("#KeyCorrupt").prop('disabled', true);
                        $("#SendDateIst").prop('disabled', true);
                        $("#ConfigureDate").prop('disabled', true);
                        $("#txtBranchname").prop('disabled', true);
                        $("#txtRouteName").prop('disabled', true);
                        $("#Company").prop('disabled', true);
                        $("#Rec_Id").val(res[0].Rec_Id);
                        $("#OTC_Date").val(res[0].OTC_Date);
                        $("#Company").val(res[0].Company);
                    $("#ddlRegion").val(res[0].Region);
                        $("#txtBranchname").val(res[0].Branch);
                        $("#txtRouteName").val(res[0].RoutNo);
                    $("#KeyName").val(res[0].KeyName);
                    $("#TouchKey").val(res[0].TouchKey);
                    $("#KeyType").val(res[0].KeyType);
                    $("#ATM_ID").val(res[0].ATM_ID);
                    $("#Purpose").val(res[0].Purpose);
                    $("#KeyCorrupt").val(res[0].KeyCorrupt);
                    $("#SendDateIst").val(res[0].SendDateIst);
                    $("#SendDateIInd").val(res[0].SendDateIInd);
                    $("#ResolutionDate").val(res[0].ResolutionDate);
                        $("#BatteryStatus").val(res[0].BatteryStatus);
                        $("#ConfigureDate").val(res[0].ConfigureDate);
                    $("#Status").val(res[0].Status);
                        $("#Remarks").val(res[0].Remarks);

                        $("#ddlRouteId").hide();
                        $("#ddlBranchId").hide();
                        $("#txtBranchname").show();
                        $("#txtRouteName").show();
                        $('#ddlRouteId').removeAttr('required');
                        $('#ddlBranchId').removeAttr('required');
                        window.scrollTo(0, 0);

                   
                }
            })
            })
        });
    </script>
</div>

